/* Navbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.hover-underline {
  display: inline-block;
  position: relative;
  color: #f75959;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f75959;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 1.5em 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  height: 6vh;
  background: #ffffff;
  padding: 1em 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar.sticky li a {
  color: #222;
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  font-family: "Lobster Two", sans-serif;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.icon {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.sticky-black {
  color: #000000 !important;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

/* Navbar End */

/* Header */
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Test1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered {
  text-align: center;
  margin: 2%;
  color: white;
  padding: 1.5em;
  font-family: "Lobster Two", sans-serif;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

.download-images {
  max-width: 13em;
}

/* Header end here */

/* Top Leaderboard*/

#second-section {
  width: 100%;
  height: 80vh;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#left-side,
#right-side {
  height: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4em 1em;
}

#left-side h1 {
  font-size: 5em;
  font-family: "Lobster Two", sans-serif;
}
#cup {
  width: 24em;
}

.leaderboard-card {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 1em;
  box-shadow: 0 0.2em 0.8em rgba(0, 0, 0, 0.1);
  width: 80%;
  transition: transform 0.2s ease;
}

.leaderboard-card:hover {
  transform: translateY(-0.3em);
}

.badge {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  object-fit: cover;
}

.info h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.info p {
  margin: 0.2em 0;
  font-size: 0.9em;
  color: #666;
}
/* Leaderboard table */
.leaderboard {
  height: 80%;
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  overflow: hidden;
}

.leaderboard th,
.leaderboard td {
  text-align: left;
  padding: 0.8em 1.2em;
  color: black;
}

.leaderboard th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
}

.leaderboard tr {
  transition: background-color 0.3s ease;
}

/* footer */
.footer {
  height: 14vh;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 5px 0;
}

.footer #logos-con {
  display: flex;
  justify-content: center;
}

.logos {
  width: 32px;
  height: 32px;
  margin: 0.5em 1em;
}

.footer .line {
  margin: 10px 0;
  border-top: 1px solid #050505;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  #formCon {
    width: 90%;
    height: fit-content;
  }
  .container {
    margin: 0 auto;
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 1230px), (max-width: 1100px), (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
  body {
    font-size: 14px;
  }
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 80%;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
  body {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .navbar .logo {
    font-size: 27px;
  }
  body {
    font-size: 11px;
  }
}

#typewriter {
  color: #f75959;
  font-weight: bold;
}

.btn-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#feedback {
  /* margin: 1; */
  width: 83%;
  padding: 1.5em;
  margin: 3em 8.5%;
  background-color: #fbeacb;
  border-radius: 10px;
}

/* #output{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
@media (max-width: 768px) {
  #left-side h1 {
    font-size: 4em;
    font-family: "Lobster Two", sans-serif;
  }
  #cup {
    width: 20em;
  }

  .top-three {
    flex-wrap: wrap;
    height: auto;
  }

  #left-side,
  #right-side {
    height: 40vh;
    width: 100%;
  }
}
